@import url('https://fonts.googleapis.com/css?family=Source Code Pro');

html {
    filter: grayscale(100%);
}

body {
    margin: 0;
    padding: 0;
    background-image: url('/MP5Session/image/img-7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.675);
    z-index: -1;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 100px;
    border-radius: 1em;
}


.return {
    display: block;
    margin: 0 auto;
    padding: 10px;
    min-width: 160px;
    height: 50px;
    background-color: #FFF;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 1.2;
    font-weight: 675;
    box-shadow: 0 10px 20px 0px rgba(75, 35, 84, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(75, 35, 84, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(75, 35, 84, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(75, 35, 84, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(75, 35, 84, 0.5);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border: none;
    cursor: pointer;
}

.return:hover {
    background-color: #d9d9d9;
    color: #fff !important;
    box-shadow: 0 10px 20px 0px rgba(75, 35, 84, 0.8);
    -moz-box-shadow: 0 10px 30px 0px rgba(75, 35, 84, 0.8);
    -webkit-box-shadow: 0 10px 30px 0px rgba(75, 35, 84, 0.8);
    -o-box-shadow: 0 10px 30px 0px rgba(75, 35, 84, 0.8);
    -ms-box-shadow: 0 10px 30px 0px rgba(75, 35, 84, 0.8), rgb(249,250,251);
}

.message-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    line-height: 1.8;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400;
    background-color: rgb(244, 190, 190);
    border: 1px solid rgb(244, 100, 100);
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.message {
   padding: 10px;
   color: #000;
   font-size: 18px;
   font-family: 'Source Code Pro';
}