@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

h1 {
    margin: auto;
    font-size: 3.5rem;
    font-weight: 800;
    animation: lights 5s 750ms linear infinite !important;
}

@keyframes lights {
    0% {
        color: hsl(230, 40%, 80%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.2),
            0 0 0.125em hsla(320, 100%, 60%, 0.3),
            -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
            1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

    30% {
        color: hsl(230, 80%, 90%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.5),
            0 0 0.125em hsla(320, 100%, 60%, 0.5),
            -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
            0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    40% {
        color: hsl(230, 100%, 95%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.5),
            0 0 0.125em hsla(320, 100%, 90%, 0.5),
            -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
            0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }

    70% {
        color: hsl(230, 80%, 90%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.5),
            0 0 0.125em hsla(320, 100%, 60%, 0.5),
            0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
            -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    100% {
        color: hsl(230, 40%, 80%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.2),
            0 0 0.125em hsla(320, 100%, 60%, 0.3),
            1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
            -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

}


body {
    margin: 0;
    padding: 0;
    background-image: url('/MP5Session/image/img-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.675);
    z-index: -1;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.wrapper h1, .wrapper form {
    color: white;
}

.header {
    font-size: 30px;
    color: #4b2354;
    line-height: 1.2;
    text-align: center;
}

.log-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.log-form-mechanics {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.log-form-mechanics {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.enter-game {
    margin-bottom: 20px;
}

.leaderboards {
    margin-top: 20px;
}

.go-game, .go-leaderboard, .go-start {
    display: block;
    margin: 0 auto;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #A799B7;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    box-shadow: 0 10px 20px 0px rgba(75, 35, 84, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(75, 35, 84, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(75, 35, 84, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(75, 35, 84, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(75, 35, 84, 0.5);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border: none;
    cursor: pointer;
}

.go-game:hover, .go-leaderboard:hover, .go-start:hover {
    background-color: #4b2354;
    box-shadow: 0 10px 20px 0px rgba(75, 35, 84, 0.8);
    -moz-box-shadow: 0 10px 30px 0px rgba(75, 35, 84, 0.8);
    -webkit-box-shadow: 0 10px 30px 0px rgba(75, 35, 84, 0.8);
    -o-box-shadow: 0 10px 30px 0px rgba(75, 35, 84, 0.8);
    -ms-box-shadow: 0 10px 30px 0px rgba(75, 35, 84, 0.8);
}

.enter-game label, .leaderboards label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #4b2354;
    margin-bottom: 10px;
}

.enter-game input {
    display: block;
    width: auto;
    min-width: 30%;
    height: 50px;
    background: #f8f9fa;
    padding: 0 20px;
    font-size: 18px;
    font-weight: bold;
    color: #4b2354;
    line-height: 1.2;
    border-radius: 4px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #000000;
    transition: box-shadow 0.3s ease;
    margin: auto;
}

.enter-game input:focus {
    box-shadow: 0 0 0 3px rgba(75, 35, 84, 0.5);
    -moz-box-shadow: 0 0 0 3px rgba(75, 35, 84, 0.5);
    -webkit-box-shadow: 0 0 0 3px rgba(75, 35, 84, 0.5);
    -o-box-shadow: 0 0 0 3px rgba(75, 35, 84, 0.5);
    -ms-box-shadow: 0 0 0 3px rgba(75, 35, 84, 0.5);
}

.mechanics-header {
    font-size: 60px;
    color: #4b2354;
    line-height: 1.5;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.mechanics-info {
    color: #693275;
    font-weight: 400;
    margin-bottom: 15px;
}

.mechanics-info ul {
    color: #693275;
    font-weight: 600;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mechanics-info ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 10px; 
    margin-bottom: 10px;
}

.user {
    font-weight: bold;
}


