<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AuthenticationServlet</servlet-name>
        <servlet-class>com.AuthenticationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizInitServlet</servlet-name>
        <servlet-class>com.QuizInitServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>QuestionBank</servlet-name>
        <servlet-class>com.QuestionBank</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>QuizServlet</servlet-name>
        <servlet-class>com.QuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaderboardServlet</servlet-name>
        <servlet-class>com.LeaderboardServlet</servlet-class>
        <init-param>
            <param-name>admin</param-name>
            <param-value>sudo</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationServlet</servlet-name>
        <url-pattern>/com/AuthenticationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizInitServlet</servlet-name>
        <url-pattern>/com/QuizInitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionBank</servlet-name>
        <url-pattern>/com/QuestionBank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizServlet</servlet-name>
        <url-pattern>/com/QuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaderboardServlet</servlet-name>
        <url-pattern>/com/LeaderboardServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/error/NPe.jsp</location>
    </error-page>
    
    <error-page>
        <exception-type>java.lang.ClassCastException</exception-type>
        <location>/error/CCNFe.jsp</location>
    </error-page>
    
    <error-page>
        <exception-type>java.lang.NumberFormatException</exception-type>
        <location>/error/CCNFe.jsp</location>
    </error-page>
    
    <error-page>
        <exception-type>java.lang.ServletException</exception-type>
        <location>/error/STe.jsp</location>
    </error-page>
    
    <error-page>
        <exception-type>java.lang.ArrayIndexOutOfBoundsException</exception-type>
        <location>/error/AIOOBe.jsp</location>
    </error-page>
    
    <error-page>
        <exception-type>java.lang.IllegalArgumentException</exception-type>
        <location>/error/IAISe.jsp</location>
    </error-page>
</web-app>
